# .github/workflows/main-ci-cd.yml
name: CI/CD - Frontend Applications

on:
  workflow_dispatch: {}
  push:
    branches:
      - develop
      - main

jobs:
  # Job para o ambiente de Desenvolvimento
  run-dev-workflow:
    # S칩 executa em push para o branch 'develop'
    if: github.ref == 'refs/heads/develop'
    name: 游 Deploy to Development
    uses: ./.github/workflows/reusable-build-deploy.yml
    with:
      # Passa o nome do ambiente para o workflow reutiliz치vel
      environment-name: dev
    secrets:
      # Passa o secret do ambiente de 'dev' para o workflow reutiliz치vel
      # Este secret deve ser configurado no ambiente 'dev' do reposit칩rio
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME_DEV }}

  # Job para o ambiente de Produ칞칚o
  run-prd-workflow:
    # S칩 executa em push para o branch 'main'
    if: github.ref == 'refs/heads/main'
    name: 游 Deploy to Production
    # Adiciona um passo de aprova칞칚o manual para deploys em produ칞칚o
    environment: production
    uses: ./.github/workflows/reusable-build-deploy.yml
    with:
      # Passa o nome do ambiente 'prd'
      environment-name: prd
    secrets:
      # Passa o secret do ambiente de 'prd'
      # Este secret deve ser configurado no ambiente 'prd' do reposit칩rio
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME_PRD }}

